{% extends "base.html" %}

{% block title %}
    Поиск фильмов
{% endblock %}


{% block content %}
<div class="
    min-vh-100
    d-flex
    flex-column
    justify-content-center
    align-items-center
">
    <h1
        class="
            home-title
            text-center
            mb-5
        "
    >
        ПОИСК ФИЛЬМОВ
    </h1>
    <nav class="menu">
        <a
            href="/search"
            class="menu-link mb-3"
        >
            Поиск по ключевому слову
        </a>
        <a
            href="/genre"
            class="menu-link mb-3"
        >
            Поиск по жанру и диапазону годов выпуска
        </a>
        <a
            href="/popular"
            class="menu-link mb-3"
        >
            Популярные запросы
        </a>
        <a
            href="/recent"
            class="menu-link"
        >
            Последние уникальные запросы
        </a>
    </nav>
</div>

{% endblock %}