{% extends "base.html" %}

{% block title %}
ПОИСК ФИЛЬМОВ
{% endblock %}

{% block content %}

<h1>
    ПОИСК ФИЛЬМОВ
</h1>

<p>
    Выберите действие:
</p>

<ul>

```
<li>
    <a href="/search">
        Поиск по ключевому слову
    </a>
</li>

<li>
    <a href="/genre">
        Поиск по жанру и диапазону годов выпуска
    </a>
</li>

<li>
    <a href="/popular">
        Популярные запросы
    </a>
</li>

<li>
    <a href="/recent">
        Последние уникальные запросы
    </a>
</li>
```

</ul>

{% endblock %}
