{% extends "base.html" %}

{% block title %}
Популярные запросы
{% endblock %}

{% block content %}

<h1>
    Топ-5 популярных запросов
</h1>

{% if results %}

<table border="1">

```
<tr>
    <th>№</th>
    <th>Тип запроса</th>
    <th>Параметры</th>
    <th>Количество запросов</th>
</tr>

{% for item in results %}

<tr>

    <td>
        {{ loop.index }}
    </td>

    <td>
        {{ item.search_type_description }}
    </td>

    <td>
        {{ item.search_description }}
    </td>

    <td>
        {{ item.requests_count }}
    </td>

</tr>

{% endfor %}
```

</table>

{% else %}

<p>
    Популярных запросов пока нет.
</p>

{% endif %}

{% endblock %}
