<!DOCTYPE html>

<html lang="ru">

<head> <meta charset="UTF-8"> <title>Последние уникальные запросы</title> </head>

<body>

<h1> Последние уникальные запросы </h1>

{% if results %}

<table border="1">

<tr>
    <th>№</th>
    <th>Тип запроса</th>
    <th>Параметры</th>
    <th>Найдено фильмов</th>
    <th>Время</th>
</tr>


{% for item in results %}

<tr>

    <td>
        {{ loop.index }}
    </td>

    <td>
        {{ item.search_type_description }}
    </td>

    <td>
        {{ item.search_description }}
    </td>

    <td>
        {{ item.results_count }}
    </td>

    <td>
        {{ item.created_at.strftime("%d.%m.%Y %H:%M") }}
    </td>

</tr>

{% endfor %}

</table>

{% else %}

<p> Последних уникальных запросов пока нет. </p>

{% endif %}

<br>

<a href="/"> Вернуться в главное меню </a>

</body>

</html>